*.js
*.js.map
*.d.ts
dist/
out/

.vscode/
.DS_Store
*.iml

node_modules/

Thumbs.db
*.log
*.tmp

.env*
*.key
*.pem
*.tgz
*.zip
dist-*.zip


.yarn/
.pnp.*
.pnpm-store
.npmignore

build/
tests/
tools/
changelog.md